{
  "net_name": "CNN",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/semeval/weights/avgnn.semeval.weights",
      "save_weights_iters": 10,
      "num_iters": 400,
      "display_interval": 10,
      "test_weights_iters": 400,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/SemEval/corpus_preprocessed.txt",
        "text2_corpus": "./data/SemEval/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 128,
        "embed_path": "./data/SemEval/embed_word2vec_d128_norm",
        "vocab_size": 88742,
        "train_embed": false,
        "target_mode": "regression",
        "text1_maxlen": 20,
        "text2_maxlen": 20
    },
    "train": {
        "input_type": "PointGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "class_num": 2,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "./data/SemEval/relation_train.txt"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/SemEval/relation_valid.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/SemEval/relation_test.txt"
    },
    "predict": {
        "input_type": "ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/SemEval/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "SEMEVAL",
      "save_dir": "./examples/semeval/output/"
    }
  },
  "model": {
    "model_path": "./matchzoo/models/",
    "model_py": "cnn.CNN",
    "setting": {
        "projection": true,
        "mode": "add",
        "init": "glorot_uniform",
        "reg": 1e-4,
        "activation": "relu",
        "rnn": "GRU",
        "dim": [0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5],
        "dropout": 0.75
    }
  },
  "losses": [ 
    {
       "object_name": "ranknet",
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": ["map"]
}

