{
  "net_name": "RankNet",
  "global":{
      "model_type": "PY",
      "weights_file": "./examples/semeval/weights/ranknet.semeval.weights",
      "save_weights_iters": 10,
      "num_iters": 100,
      "display_interval": 10,
      "test_weights_iters": 100,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/semeval/corpus_preprocessed.txt",
        "text2_corpus": "./data/semeval/corpus_preprocessed.txt",
        "word_triletter_map_file": "./data/SemEval/word_triletter_map.txt",
        "use_dpool": false,
        "embed_size": 99,
        "embed_path": "./data/semeval/embed_word2vec_d128",
        "vocab_size": 124659,
        "train_embed": false,
        "target_mode": "ranking",
        "text1_maxlen": 60,
        "text2_maxlen": 60
    },
    "train": {
        "input_type": "PairGenerator",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 32,
        "relation_file": "./data/semeval/relation_train.txt"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/semeval/relation_valid.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/semeval/relation_test.txt"
    },
    "predict": {
        "input_type": "ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/semeval/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "SEMEVAL",
      "save_dir": "./examples/semeval/output/"
    }
  },
  "model": {
    "model_path": "./matchzoo/models/",
    "model_py": "ranknet.RankNet",
    "setting": {
        "projection": true,
        "mode": "add",
        "init": "glorot_uniform",
        "activation": "tanh",
        "rnn": "GRU",
        "dim": 2,
        "dropout": 0.75
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1
       }
    }
  ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

